{% extends "layout/default.jinja" %}

{% block title %}🏠&nbsp;WG{% endblock %}

{% block content %}
    <aside>
        <nav>
            <ul>
                <li><a href="/chore-lists">📋&nbsp;Chore Lists</a></li>
                <li><a href="/users">👤&nbsp;Users</a></li>
                <li>
                    <form action="/logout" method="post">
                        <button type="submit" class="link">🚪&nbsp;Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </aside>
{% endblock %}
