{% extends "layout/default.jinja" %}

{% block icon %}🏠{% endblock %}
{% block title %}WG{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists">
            <div class="icon">📋</div>
            <div class="label">Chore Lists</div>
        </a></li>
        <li><a href="/users">
            <div class="icon">👤</div>
            <div class="label">Users</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <aside>
        <nav>
            <ul>
                <li><a href="/chore-lists">📋&nbsp;Chore Lists</a></li>
                <li><a href="/users">👤&nbsp;Users</a></li>
                <li>
                    <form action="/logout" method="post">
                        <button type="submit" class="link">🚪&nbsp;Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </aside>
{% endblock %}
