{% extends "layout/default.jinja" %}

{% block title %}WG{% endblock %}

{% block content %}
    <aside>
        <nav>
            <ul>
                <li><a href="/chore-lists">📋&nbsp;Chore Lists</a></li>
                <li><a href="/users">👤&nbsp;Users</a></li>
            </ul>
        </nav>
    </aside>
{% endblock %}
