{% extends "layout/default.jinja" %}

{% block head %}
    {% if status_code.as_u16() == 401 %}
        <meta http-equiv="refresh" content="0; url=/login">
    {% endif %}
{% endblock %}

{% block icon %}🏠{% endblock %}
{% block title %}{{ status_code.canonical_reason().unwrap_or("Unknown Error") }}{% endblock %}
{% block headline %}{{ status_code.canonical_reason().unwrap_or("Unknown Error") }}{% endblock %}

{% block teaser %}ERROR {{ status_code.as_u16() }}{% endblock %}

{% block back_link %}
    <a href="/" class="secondary">&larr; Back</a>
{% endblock %}

{% block mobile_navigation %}{% endblock %}
{% block desktop_navigation %}{% endblock %}

{% block content %}
    {% if let Some(request_id) = request_id %}
        <small class="text-muted">
            Request ID: {{ request_id }}
        </small>
    {% endif %}
{% endblock %}
