{% extends "layout/default.jinja" %}

{% block icon %}⚙️{% endblock %}
{% block title %}Settings{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists">
            <div class="icon">📋</div>
            <div class="label">Chore Lists</div>
        </a></li>
        <li><a href="/settings" aria-current="page">
            <div class="icon">⚙️</div>
            <div class="label">Settings</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <aside>
        <nav>
            <h4>Profile</h4>
            <ul class="card-container collapse">
                <li>
                    <a href="/users/{{ auth_session.user_id }}/update" class="card">
                        <div class="title">🪪&nbsp;Edit Profile</div>
                    </a>
                </li>
                <li>
                    <button type="submit" form="logout" class="card text-align-left mb-0">
                        <div class="title">🚪&nbsp;Logout</div>
                    </button>
                    <form id="logout" method="post" action="/logout"></form>
                </li>
            </ul>

            <h4>Instance</h4>
            <ul class="card-container collapse">
                <li>
                    <a href="/users" class="card">
                        <div class="title">👤&nbsp;Users</div>
                    </a>
                </li>
            </ul>

            <h4>Legal</h4>
            <ul class="card-container collapse">
                <li>
                    <a href="/legal/privacy-policy" rel="privacy-policy" target="_blank" class="card">
                        <div class="title">📜&nbsp;Privacy Policy</div>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
{% endblock %}
