{% extends "layout/default.jinja" %}

{% block title %}{{ user.first_name }}{% endblock %}

{% block back_link %}
    <a href="/users" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    {% if user.is_deleted() %}
        <div>
            <em>This user is deleted</em>
        </div>

        <br>

        <form method="post" action="/users/{{ user.id }}/restore ">
            <button type="submit" style="width: auto;">Restore</button>
        </form>
    {% else %}
        <form method="post" action="/users/{{ user.id }}/delete">
            <button type="submit" class="outline secondary" style="width: auto;">Delete</button>
        </form>
    {% endif %}
{% endblock %}
