{% extends "layout/default.jinja" %}

{% block title %}👤&nbsp;{{ user.name }}{% endblock %}

{% block back_link %}
    <a href="/users" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    {% if user.is_deleted() %}
        <div>
            <em>This user has been deleted</em>
        </div>

        <br>

        <button type="submit" form="user_restore" style="width: auto;">Restore</button>
        <form id="user_restore" method="post" action="/users/{{ user.id }}/restore"></form>
    {% else %}
        {% if user.id == auth_session.user_id %}
            <a href="/users/{{ user.id }}/update" role="button">Edit</a>
        {% endif %}

        <button type="submit" form="user_delete" class="outline secondary" style="width: auto;">Delete</button>

        <form id="user_delete" method="post" action="/users/{{ user.id }}/delete"></form>
    {% endif %}
{% endblock %}
