{% extends "layout/default.jinja" %}

{% block icon %}👤{% endblock %}
{% block title %}Users{% endblock %}

{% block back_link %}
    <a href="/settings" rel="parent" class="secondary text-decoration-none underline-on-hover">&larr; Back</a>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists">
            <div class="icon">📋</div>
            <div class="label">Chore Lists</div>
        </a></li>
        <li><a href="/settings" aria-current="page">
            <div class="icon">⚙️</div>
            <div class="label">Settings</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <div>
        <a href="/users/create" role="button">+ Add User</a>
    </div>

    <br>

    <ul class="card-container collapse">
        {% for user in users %}
            <li>
                <a href="/users/{{ user.id }}" class="card">
                    <div class="title">{{ user.name }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if ! deleted_users.is_empty() %}
        <br>
        <br>

        <div>
            <h4>Past 👤&nbsp;Users</h4>
            <ul class="card-container collapse">
                {% for user in deleted_users %}
                    <li>
                        <a href="/users/{{ user.id }}" class="card">
                            <div class="title">{{ user.name }}</div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
