{% extends "layout/default.jinja" %}

{% block title %}Update User{% endblock %}

{% block back_link %}
    <a href="/users/{{ user.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required autocomplete="given-name" value="{{ user.name }}" />

        <button type="submit">Update</button>
    </form>
{% endblock %}
