{% extends "layout/default.jinja" %}

{% block icon %}👤{% endblock %}
{% block title %}Update User{% endblock %}
{% block headline %}Update 👤&nbsp;User{% endblock %}

{% block back_link %}
    <a href="/users/{{ user.id }}" rel="parent" class="secondary">&larr; Back</a>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists">
            <div class="icon">📋</div>
            <div class="label">Chore Lists</div>
        </a></li>
        <li><a href="/users" aria-current="page">
            <div class="icon">👤</div>
            <div class="label">Users</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required autocomplete="given-name" value="{{ user.name }}" />

        <label for="handle">Handle</label>
        <input id="handle" name="handle" type="text" required autocomplete="username" value="{{ user.handle }}" />

        <label for="password">
            New Password
            <i style="opacity: 0.6;">(optional)</i>
        </label>
        <input id="password" name="password" type="password" minlength="5" autocomplete="new-password" value="" />

        <button type="submit">Update</button>
    </form>
{% endblock %}
