@use "./layout";
@use "./nav-bar";
@use "./side-nav";
@use "./card";

:root {
    hyphens: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.text-danger {
    color: var(--pico-danger-color);
}

.text-muted {
    color: var(--pico-muted-color);
}

.fw-bold {
    font-weight: bold;
}

.mobile-only {
    @media (min-width: 1024px) {
        display: none !important;
    }
}

.desktop-only {
    @media (max-width: 1023px) {
        display: none !important;
    }
}

.py-block {
    padding-block: var(--pico-block-spacing-vertical);
}

.mb-0 {
    margin-bottom: 0 !important;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}
