{% extends "layout/default.jinja" %}

{% block icon %}🧹{% endblock %}
{% block title %}{{ chore.name }}{% endblock %}

{% block teaser %}
    Of <a href="/chore-lists/{{ chore_list.id }}" class="secondary">📋&nbsp;{{ chore_list.name }}</a>

    {% if let Some(description) = chore.description.clone() %}
        <br>
        <br>

        {{ description|escape|linebreaksbr|safe }}
    {% endif %}
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/chores" rel="parent" class="secondary">&larr; Back</a>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists/{{ chore_list.id }}/activities">
            <div class="icon">✅</div>
            <div class="label">Activities</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/chores" aria-current="page">
            <div class="icon">🧹</div>
            <div class="label">Chores</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/users">
            <div class="icon">👤</div>
            <div class="label">Users</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    {% if chore.is_deleted() || chore_list.is_deleted() %}
        <div>
            <em>This chore has been deleted</em>
        </div>

        <br>
    {% endif %}

    <table>
        <tr>
            <th scope="row">Points</th>
            <td>{{ chore.points }}</td>
        </tr>

        {% if let Some(interval_days) = chore.interval_days %}
            <tr>
                <th scope="row">Interval</th>
                <td>every {{ interval_days }} day(s)</td>
            </tr>
        {% endif %}

        {% if let Some(next_due_date) = chore.next_due_date %}
            <tr>
                <th scope="row">Next Due Date</th>
                <td {% if next_due_date.is_today() || next_due_date.is_in_past() %}class="text-danger fw-bold"{% endif %}>
                    {{ next_due_date.format("%Y-%m-%d") }}
                </td>
            </tr>
        {% endif %}
    </table>

    <br>

    {% if chore.is_deleted() %}
        <div>
            <button type="submit" form="chore_restore" style="width: auto;">⮌ Restore</button>
            <form id="chore_restore" method="post" action="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}/restore"></form>
        </div>
    {% else if !chore_list.is_deleted() %}
        <div>
            <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}/update" role="button">✎ Edit</a>
            <button type="submit" form="chore_delete" class="outline danger" style="width: auto;">✗ Delete</button>

            <form id="chore_delete" method="post" action="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}/delete"></form>
        </div>
    {% endif %}

    <br>

    <aside>
        <nav>
            <ul>
                <li><a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}/activities">✅&nbsp;Activities</a></li>
            </ul>
        </nav>
    </aside>
{% endblock %}
