{% extends "layout/default.jinja" %}

{% block icon %}✅{% endblock %}
{% block title %}Activities{% endblock %}

{% block teaser %}
    For <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}" class="secondary">🧹&nbsp;{{ chore.name }}</a>
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}" rel="parent" class="secondary">&larr; Back</a>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists/{{ chore_list.id }}/activities">
            <div class="icon">✅</div>
            <div class="label">Activities</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/chores" aria-current="page">
            <div class="icon">🧹</div>
            <div class="label">Chores</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/users">
            <div class="icon">👤</div>
            <div class="label">Users</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <div>
        <a href="/chore-lists/{{ chore_list.id }}/activities/create" role="button">+ Log Activity</a>
    </div>

    <br>

    <ul>
        {% for activity in activities %}
            <li>
                <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}">
                    {{ activity.date.format("%Y-%m-%d") }}

                    {% for user in users %}
                        {% if user.id == activity.user_id %}
                            by {{ user.name }}
                        {% endif %}
                    {% endfor %}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if ! deleted_activities.is_empty() %}
        <br>
        <br>

        <div>
            <h4>Deleted ✅&nbsp;Activities</h4>
            <ul>
                {% for activity in deleted_activities %}
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}">
                            {{ activity.date.format("%Y-%m-%d") }}

                            {% for user in users %}
                                {% if user.id == activity.user_id %}
                                    by {{ user.name }}
                                {% endif %}
                            {% endfor %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
