{% extends "layout/default.jinja" %}

{% block icon %}🧹{% endblock %}
{% block title %}Chores{% endblock %}

{% block teaser %}
    Of <a href="/chore-lists/{{ chore_list.id }}" class="secondary">📋&nbsp;{{ chore_list.name }}</a>
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}" rel="parent" class="secondary">&larr; Back</a>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists/{{ chore_list.id }}/activities">
            <div class="icon">✅</div>
            <div class="label">Activities</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/chores" aria-current="page">
            <div class="icon">🧹</div>
            <div class="label">Chores</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/users">
            <div class="icon">👤</div>
            <div class="label">Users</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <div>
        <a href="/chore-lists/{{ chore_list.id }}/chores/create" role="button">+ Create Chore</a>
    </div>

    <br>

    <ul>
        {% for chore in chores %}
            <li>
                <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}">{{ chore.name }}</a>&nbsp;({{ chore.points }}P)
                {% if let Some(next_due_date) = chore.next_due_date %}
                    {% if next_due_date.is_today() || next_due_date.is_in_past() %}
                        <span class="text-danger fw-bold">Due!</span>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if ! deleted_chores.is_empty() %}
        <br>
        <br>

        <div>
            <h4>Deleted 🧹&nbsp;Chores</h4>
            <ul>
                {% for chore in deleted_chores %}
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}">{{ chore.name }}</a>&nbsp;({{ chore.points }}P)
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
