{% extends "layout/default.jinja" %}

{% block icon %}🧹{% endblock %}
{% block title %}Chores{% endblock %}

{% block teaser %}
    Of 📋&nbsp;{{ chore_list.name }}
{% endblock %}

{% block back_link %}
    <a href="/chore-lists" rel="parent" class="secondary text-decoration-none underline-on-hover">&larr; Back</a>
{% endblock %}

{% block meta_actions %}
    <a href="/chore-lists/{{ chore_list.id }}/chores/create" class="secondary text-decoration-none underline-on-hover">+ Add</a>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists/{{ chore_list.id }}/activities">
            <div class="icon">✅</div>
            <div class="label">Activities</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/chores" aria-current="page">
            <div class="icon">🧹</div>
            <div class="label">Chores</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/users">
            <div class="icon">👤</div>
            <div class="label">Users</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/settings">
            <div class="icon">⚙️</div>
            <div class="label">Settings</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <ul class="card-container collapse">
        {% for chore in chores %}
            <li>
                <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}" class="card">
                    <div class="title">{{ chore.name }}</div>
                    <small class="text-muted">
                        {{ chore.points }}P

                        {% if let Some(next_due_date) = chore.next_due_date %}
                            {% if next_due_date.is_today() || next_due_date.is_in_past() %}
                                –&nbsp;<span class="text-danger fw-bold">Due!</span>
                            {% endif %}
                        {% endif %}
                    </small>
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if ! deleted_chores.is_empty() %}
        <br>
        <br>

        <div>
            <h4>Deleted 🧹&nbsp;Chores</h4>
            <ul class="card-container collapse">
                {% for chore in deleted_chores %}
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}" class="card">
                            <div class="title">{{ chore.name }}</div>
                            <small class="text-muted">{{ chore.points }}P</small>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
