{% extends "layout/default.jinja" %}

{% block title %}🧹&nbsp;Chores{% endblock %}

{% block teaser %}
    Of <a href="/chore-lists/{{ chore_list.id }}" class="secondary">📋&nbsp;{{ chore_list.name }}</a>
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <div>
        <a href="/chore-lists/{{ chore_list.id }}/chores/create" role="button">Create Chore</a>
    </div>

    <br>

    <ul>
        {% for chore in chores %}
            {% if !chore.is_deleted() %}
                <li>
                    <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}">{{ chore.name }}</a>&nbsp;({{ chore.points }}P)
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <br>
    <br>

    <div>
        <h4>Deleted 🧹&nbsp;Chores</h4>
        <ul>
            {% for chore in chores %}
                {% if chore.is_deleted() %}
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}">{{ chore.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
