{% extends "layout/default.jinja" %}

{% block title %}✅&nbsp;Activities{% endblock %}

{% block teaser %}
    For <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}" class="secondary">🧹&nbsp;{{ chore.name }}</a>
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <div>
        <a href="/chore-lists/{{ chore_list.id }}/activities/create" role="button">Log Activity</a>
    </div>

    <br>

    <ul>
        {% for activity in activities %}
            {% if !activity.is_deleted() %}
                <li>
                    <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}">
                        {{ activity.date.format("%Y-%m-%d") }}

                        {% for user in users %}
                            {% if user.id == activity.user_id %}
                                by {{ user.name }}
                            {% endif %}
                        {% endfor %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <br>
    <br>

    <div>
        <h4>Deleted ✅&nbsp;Activities</h4>
        <ul>
            {% for activity in activities %}
                {% if activity.is_deleted() %}
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}">
                            {{ activity.date.format("%Y-%m-%d") }}

                            {% for user in users %}
                                {% if user.id == activity.user_id %}
                                    by {{ user.name }}
                                {% endif %}
                            {% endfor %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
