{% extends "layout/default.jinja" %}

{% block icon %}🧹{% endblock %}
{% block title %}Update Chore{% endblock %}
{% block headline %}Update 🧹&nbsp;Chore{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}" rel="parent" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required value="{{ chore.name }}" />

        <label for="description">
            Description
            <i style="opacity: 0.6;">(optional)</i>
        </label>
        <textarea id="description" name="description">{{ chore.description.clone().unwrap_or("".to_string()) }}</textarea>

        <label for="points">Points</label>
        <input id="points" name="points" type="number" min="1" step="1" required value="{{ chore.points }}" />

        <label for="interval_days">
            Interval
            <i style="opacity: 0.6;">(optional)</i>
        </label>
        <div role="group">
            <input id="interval_days" name="interval_days" type="number" min="1" step="1" value="{% if let Some(interval_days) = chore.interval_days %}{{ interval_days }}{% endif %}" />
            <label for="interval_days">days</div>
        </div>

        <button type="submit">Update</button>
    </form>
{% endblock %}
