{% extends "layout/default.jinja" %}

{% block icon %}🧹{% endblock %}
{% block title %}Edit Chore{% endblock %}
{% block headline %}Edit 🧹&nbsp;Chore{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}" rel="parent" class="secondary text-decoration-none underline-on-hover">&larr; Back</a>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists/{{ chore_list.id }}/activities">
            <div class="icon">✅</div>
            <div class="label">Activities</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/chores" aria-current="page">
            <div class="icon">🧹</div>
            <div class="label">Chores</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/users">
            <div class="icon">👤</div>
            <div class="label">Users</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/settings">
            <div class="icon">⚙️</div>
            <div class="label">Settings</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required value="{{ chore.name }}" />

        <label for="description">
            Description
            <i style="opacity: 0.6;">(optional)</i>
        </label>
        <textarea id="description" name="description">{{ chore.description.clone().unwrap_or("".to_string()) }}</textarea>

        <label for="points">Points</label>
        <input id="points" name="points" type="number" min="1" step="1" required value="{{ chore.points }}" />

        <label for="interval_days">
            Interval
            <i style="opacity: 0.6;">(optional)</i>
        </label>
        <div role="group">
            <input id="interval_days" name="interval_days" type="number" min="1" step="1" aria-describedby="interval_days-help-text" value="{% if let Some(interval_days) = chore.interval_days %}{{ interval_days }}{% endif %}" />
            <label for="interval_days">days</label>
        </div>
        <small id="interval_days-help-text">How often the chore should be done</small>

        <button type="submit">Update</button>
    </form>
{% endblock %}
