{% extends "layout/default.jinja" %}

{% block title %}Chore: {{ chore.name }}{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/chores" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    {% if chore.is_deleted() || chore_list.is_deleted() %}
        <div>
            <em>This chore has been deleted</em>
        </div>

        <br>
    {% endif %}

    <table>
        <tr>
            <th scope="row">Points</th>
            <td>{{ chore.points }}</td>
        </tr>
        <tr>
            <th scope="row">Chore List</th>
            <td><a href="/chore-lists/{{ chore_list.id }}" class="secondary">{{ chore_list.name }}</a></td>
        </tr>
    </table>

    <br>

    {% if chore.is_deleted() || chore_list.is_deleted() %}
        {% if !chore_list.is_deleted() %}
            <div>
                <button type="submit" form="chore_restore" style="width: auto;">Restore</button>
                <form id="chore_restore" method="post" action="/chores/{{ chore.id }}/restore"></form>
            </div>
        {% endif %}
    {% else %}
        <div>
            <a href="/chores/{{ chore.id }}/update" role="button">Edit</a>
            <button type="submit" form="chore_delete" class="outline secondary" style="width: auto;">Delete</button>

            <form id="chore_delete" method="post" action="/chores/{{ chore.id }}/delete"></form>
        </div>
    {% endif %}

    <aside>
        <nav>
            <ul>
                <li><a href="/chores/{{ chore.id }}/activities">Activities</a></li>
            </ul>
        </nav>
    </aside>
{% endblock %}
