{% extends "layout/default.jinja" %}

{% block title %}Update 🧹&nbsp;Chore{% endblock %}

{% block back_link %}
    <a href="/chores/{{ chore.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required value="{{ chore.name }}" />

        <label for="points">Points</label>
        <input id="points" name="points" type="number" required value="{{ chore.points }}" />

        <button type="submit">Update</button>
    </form>
{% endblock %}
