{% extends "layout/default.jinja" %}

{% block title %}Update Activity{% endblock %}

{% block back_link %}
    <a href="/chore-activities/{{ activity.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="chore_id">Chore</label>
        <select id="chore_id" name="chore_id" required>
            <option disabled value=""></option>
            {% for chore in chores %}
                <option value="{{ chore.id }}" {% if chore.id == activity.chore_id %}selected{% endif %}>{{ chore.name }} ({{ chore.points}} PT)</option>
            {% endfor %}
        </select>

        <label for="date">Date</label>
        <input id="date" name="date" type="date" value="{{ activity.date.format("%Y-%m-%d") }}" />

        <button type="submit">Update</button>
    </form>
{% endblock %}
