{% extends "layout/default.jinja" %}

{% block title %}Create ✅&nbsp;Activity{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/activities" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="chore_id">Chore</label>
        <select id="chore_id" name="chore_id" required>
            <option selected disabled hidden value=""></option>
            {% for chore in chores %}
                <option value="{{ chore.id }}">{{ chore.name }} ({{ chore.points}}P)</option>
            {% endfor %}
        </select>

        <label for="date">Date</label>
        <input id="date" name="date" type="date" min="{{ min_date.format("%Y-%m-%d") }}" max="{{ max_date.format("%Y-%m-%d") }}" value="{{ now.format("%Y-%m-%d") }}" required />

        <label for="comment">
            Comment
            <i style="opacity: 0.6;">(optional)</i>
        </label>
        <textarea id="comment" name="comment"></textarea>

        <button type="submit">Create</button>
    </form>
{% endblock %}
