{% extends "layout/default.jinja" %}

{% block icon %}✅{% endblock %}
{% block title %}Activity{% endblock %}

{% block teaser %}
    Of 📋&nbsp;{{ chore_list.name }}
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/activities" rel="parent" class="secondary text-decoration-none underline-on-hover">&larr; Back</a>
{% endblock %}

{% block meta_actions %}
    {% if activity.is_deleted() %}
        <button type="submit" form="activity_restore" class="link secondary text-decoration-none underline-on-hover mb-0">⮌ Restore</button>
        <form id="activity_restore" method="post" action="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}/restore"></form>
    {% else if !chore.is_deleted() && !chore_list.is_deleted() && activity.user_id == auth_session.user_id %}
        <button type="submit" form="activity_delete" class="link secondary text-decoration-none underline-on-hover mb-0">✗ Delete</button>

        {% if allow_edit %}
            <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}/update" class="secondary text-decoration-none underline-on-hover" style="margin-left: 1.25rem;">✎ Edit</a>
        {% endif %}

        <form id="activity_delete" method="post" action="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}/delete"></form>
    {% endif %}
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists/{{ chore_list.id }}/activities" aria-current="page">
            <div class="icon">✅</div>
            <div class="label">Activities</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/chores">
            <div class="icon">🧹</div>
            <div class="label">Chores</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/users">
            <div class="icon">👤</div>
            <div class="label">Users</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/settings">
            <div class="icon">⚙️</div>
            <div class="label">Settings</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    {% if activity.is_deleted() || chore.is_deleted() || chore_list.is_deleted() %}
        <div>
            <em>This activity has been deleted</em>
        </div>

        <br>
    {% endif %}

    <table>
        <tr>
            <th scope="row">Date</th>
            <td>{{ activity.date.format("%Y-%m-%d") }}</td>
        </tr>
        <tr>
            <th scope="row">User</th>
            <td><a href="/chore-lists/{{ chore_list.id }}/users/{{ user.id }}" class="secondary">👤&nbsp;{{ user.name }}</a></td>
        </tr>
        <tr>
            <th scope="row">Chore</th>
            <td><a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}" class="secondary">🧹&nbsp;{{ chore.name }}</a>&nbsp;({{ chore.points }}P)</td>
        </tr>
        {% if let Some(comment) = activity.comment.clone() %}
            <tr>
                <th scope="row">Comment</th>
                <td>{{ comment|escape|linebreaksbr|safe }}</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}
