{% extends "layout/default.jinja" %}

{% block title %}✅&nbsp;Activity{% endblock %}

{% block teaser %}
    For <a href="/chore-lists/{{ chore_list.id }}" class="secondary">📋&nbsp;{{ chore_list.name }}</a>
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/activities" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    {% if activity.is_deleted() || chore.is_deleted() || chore_list.is_deleted() %}
        <div>
            <em>This activity has been deleted</em>
        </div>

        <br>
    {% endif %}

    <table>
        <tr>
            <th scope="row">Date</th>
            <td>{{ activity.date.format("%Y-%m-%d") }}</td>
        </tr>
        <tr>
            <th scope="row">User</th>
            <td><a href="/users/{{ user.id }}" class="secondary">👤&nbsp;{{ user.name }}</a></td>
        </tr>
        <tr>
            <th scope="row">Chore</th>
            <td><a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}" class="secondary">🧹&nbsp;{{ chore.name }}</a> ({{ chore.points }}P)</td>
        </tr>
        {% if let Some(comment) = activity.comment.clone() %}
            <tr>
                <th scope="row">Comment</th>
                <td>{{ comment|escape|linebreaksbr|safe }}</td>
            </tr>
        {% endif %}
    </table>

    <br>

    {% if activity.is_deleted() || chore.is_deleted() || chore_list.is_deleted() %}
        {% if ! chore.is_deleted() && !chore_list.is_deleted() %}
            <div>
                <button type="submit" form="activity_restore" style="width: auto;">Restore</button>
                <form id="activity_restore" method="post" action="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}/restore"></form>
            </div>
        {% endif %}
    {% else if activity.user_id == auth_session.user_id %}
        <div>
            <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}/update" role="button">Edit</a>
            <button type="submit" form="activity_delete" class="outline secondary" style="width: auto;">Delete</button>

            <form id="activity_delete" method="post" action="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}/delete"></form>
        </div>
    {% endif %}
{% endblock %}
