{% extends "layout/default.jinja" %}

{% block title %}✅&nbsp;Activities{% endblock %}

{% block teaser %}
    For <a href="/chore-lists/{{ chore_list.id }}" class="secondary">📋&nbsp;{{ chore_list.name }}</a>
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <div>
        <a href="/chore-lists/{{ chore_list.id }}/activities/create" role="button">Log Activity</a>
    </div>

    <br>

    <ul>
        {% for activity in activities %}
            {% if !activity.is_deleted() %}
                <li>
                    {% for chore in chores %}
                        {% if chore.id == activity.chore_id %}
                            <span style="display: inline-block;">
                                <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}" class="secondary">{{ chore.name }}</a> ({{ chore.points }}P)
                            </span>
                        {% endif %}
                    {% endfor %}

                    {% for user in users %}
                        {% if user.id == activity.user_id %}
                            <span style="display: inline-block;">
                                by <a href="/users/{{ user.id }}" class="secondary">{{ user.name }}</a>
                            </span>
                        {% endif %}
                    {% endfor %}

                    <span style="display: inline-block;">
                        at <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}">{{ activity.date.format("%Y-%m-%d") }}</a>
                    </span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <br>
    <br>

    <div>
        <h4>Deleted ✅&nbsp;Activities</h4>
        <ul>
            {% for activity in activities %}
                {% if activity.is_deleted() %}
                    <li>
                        {% for chore in chores %}
                            {% if chore.id == activity.chore_id %}
                                <span style="display: inline-block;">
                                    <a href="/chore-lists/{{ chore_list.id }}/chores/{{ chore.id }}" class="secondary">{{ chore.name }}</a> ({{ chore.points }}P)
                                </span>
                            {% endif %}
                        {% endfor %}

                        {% for user in users %}
                            {% if user.id == activity.user_id %}
                                <span style="display: inline-block;">
                                    by <a href="/users/{{ user.id }}" class="secondary">{{ user.name }}</a>
                                </span>
                            {% endif %}
                        {% endfor %}

                        <span style="display: inline-block;">
                            at <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}">{{ activity.date.format("%Y-%m-%d") }}</a>
                        </span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
