{% extends "layout/default.jinja" %}

{% block icon %}✅{% endblock %}
{% block title %}Activities{% endblock %}

{% block teaser %}
    For <a href="/chore-lists/{{ chore_list.id }}" class="secondary">📋&nbsp;{{ chore_list.name }}</a>
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}" rel="parent" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <div>
        <a href="/chore-lists/{{ chore_list.id }}/activities/create" role="button">+ Log Activity</a>
    </div>

    <br>

    {% for (date, activities_of_date) in activities_by_date %}
        <h6>{{ date.format("%Y-%m-%d") }}</h6>
        {% for activity in activities_of_date %}
            {% if !activity.is_deleted() %}
                <ul>
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}">
                            {% for chore in chores %}
                                {% if chore.id == activity.chore_id %}
                                    <span style="display: inline-block; text-decoration: inherit;">
                                        {{ chore.name }}&nbsp;({{ chore.points }}P)
                                    </span>
                                {% endif %}
                            {% endfor %}

                            {% for user in users %}
                                {% if user.id == activity.user_id %}
                                    <span style="display: inline-block; text-decoration: inherit;">
                                        by {{ user.name }}
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </a>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endfor %}

    <br>
    <br>

    <div>
        <h4>Deleted ✅&nbsp;Activities</h4>
        <ul>
            {% for activity in deleted_activities %}
                {% if activity.is_deleted() %}
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}">
                            {% for chore in chores %}
                                {% if chore.id == activity.chore_id %}
                                    <span style="display: inline-block; text-decoration: inherit;">
                                        {{ chore.name }}&nbsp;({{ chore.points }}P)
                                    </span>
                                {% endif %}
                            {% endfor %}

                            {% for user in users %}
                                {% if user.id == activity.user_id %}
                                    <span style="display: inline-block; text-decoration: inherit;">
                                        by {{ user.name }}
                                    </span>
                                {% endif %}
                            {% endfor %}

                            <span style="display: inline-block; text-decoration: inherit;">
                                at {{ activity.date.format("%Y-%m-%d") }}
                            </span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
