{% extends "layout/default.jinja" %}

{% block icon %}✅{% endblock %}
{% block title %}Update Activity{% endblock %}
{% block headline %}Update ✅&nbsp;Activity{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="chore_id">Chore</label>
        <select id="chore_id" name="chore_id" required>
            <option disabled hidden value=""></option>
            {% for chore in chores %}
                <option value="{{ chore.id }}" {% if chore.id == activity.chore_id %}selected{% endif %}>{{ chore.name }}&nbsp;({{ chore.points}}P)</option>
            {% endfor %}
        </select>

        <label for="date">Date</label>
        <input id="date" name="date" type="date" min="{{ min_date.format("%Y-%m-%d") }}" max="{{ max_date.format("%Y-%m-%d") }}" value="{{ activity.date.format("%Y-%m-%d") }}" required />

        <label for="comment">
            Comment
            <i style="opacity: 0.6;">(optional)</i>
        </label>
        <textarea id="comment" name="comment">{{ activity.comment.clone().unwrap_or("".to_string()) }}</textarea>

        <button type="submit">Update</button>
    </form>
{% endblock %}
