{% extends "layout/default.jinja" %}

{% block icon %}👤{% endblock %}
{% block title %}{{ user.name }}{% endblock %}

{% block teaser %}
    Of <a href="/chore-lists/{{ chore_list.id }}" class="secondary">📋&nbsp;{{ chore_list.name }}</a>
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/users" rel="parent" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    {% if user.is_deleted() || chore_list.is_deleted() %}
        <div>
            <em>This user has been deleted</em>
        </div>

        <br>
    {% endif %}

    <aside>
        <nav>
            <ul>
                <li><a href="/chore-lists/{{ chore_list.id }}/users/{{ user.id }}/activities">✅&nbsp;Activities</a></li>
            </ul>
        </nav>
    </aside>
{% endblock %}
