{% extends "layout/default.jinja" %}

{% block icon %}👤{% endblock %}
{% block title %}{{ user.name }}{% endblock %}

{% block teaser %}
    Of 📋&nbsp;{{ chore_list.name }}
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/users" rel="parent" class="secondary text-decoration-none underline-on-hover">&larr; Back</a>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists/{{ chore_list.id }}/activities">
            <div class="icon">✅</div>
            <div class="label">Activities</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/chores">
            <div class="icon">🧹</div>
            <div class="label">Chores</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/users" aria-current="page">
            <div class="icon">👤</div>
            <div class="label">Users</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/settings">
            <div class="icon">⚙️</div>
            <div class="label">Settings</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    {% if user.is_deleted() || chore_list.is_deleted() %}
        <div>
            <em>This user has been deleted</em>
        </div>

        <br>
    {% endif %}

    <aside>
        <nav>
            <ul>
                <li><a href="/chore-lists/{{ chore_list.id }}/users/{{ user.id }}/activities">✅&nbsp;Activities</a></li>
            </ul>
        </nav>
    </aside>
{% endblock %}
