{% extends "layout/default.jinja" %}

{% block icon %}✅{% endblock %}
{% block title %}Activities{% endblock %}

{% block teaser %}
    Of <a href="/chore-lists/{{ chore_list.id }}/users/{{ user.id }}" class="secondary">👤&nbsp;{{ user.name }}</a>
    in 📋&nbsp;{{ chore_list.name }}
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/users/{{ user.id }}" rel="parent" class="secondary text-decoration-none underline-on-hover">&larr; Back</a>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists/{{ chore_list.id }}/activities">
            <div class="icon">✅</div>
            <div class="label">Activities</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/chores">
            <div class="icon">🧹</div>
            <div class="label">Chores</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/users" aria-current="page">
            <div class="icon">👤</div>
            <div class="label">Users</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/settings">
            <div class="icon">⚙️</div>
            <div class="label">Settings</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="timeline">
        {% for (date, activities_of_date) in activities_by_date %}
            <div class="timeline-date-separator">{{ date.format("%Y-%m-%d") }}</div>
            <ul class="card-container collapse">
                {% for activity in activities_of_date %}
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}" class="card">
                            {% for chore in chores %}
                                {% if chore.id == activity.chore_id %}
                                    <div class="title">{{ chore.name }}</div>
                                {% endif %}
                            {% endfor %}

                            <small class="text-muted">
                                {% for chore in chores %}
                                    {% if chore.id == activity.chore_id %}
                                        {{ chore.points }}P
                                    {% endif %}
                                {% endfor %}

                                {% if activity.comment.is_some() %}
                                    –&nbsp;Has comment
                                {% endif %}
                            </small>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    {% if ! deleted_activities.is_empty() %}
        <br>

        <details>
            <summary class="arrow-left text-muted">Deleted Activities</summary>
            <ul class="card-container collapse">
                {% for activity in deleted_activities %}
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}" class="card">
                            {% for chore in chores %}
                                {% if chore.id == activity.chore_id %}
                                    <div class="title">{{ chore.name }}</div>
                                {% endif %}
                            {% endfor %}

                            <small class="text-muted">
                                {% for chore in chores %}
                                    {% if chore.id == activity.chore_id %}
                                        {{ chore.points }}P
                                    {% endif %}
                                {% endfor %}

                                 –&nbsp;{{ activity.date.format("%Y-%m-%d") }}
                            </small>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </details>
    {% endif %}
{% endblock %}
