{% extends "layout/default.jinja" %}

{% block icon %}✅{% endblock %}
{% block title %}Activities{% endblock %}

{% block teaser %}
    For <a href="/chore-lists/{{ chore_list.id }}/users/{{ user.id }}" class="secondary">👤&nbsp;{{ user.name }}</a>
    in <a href="/chore-lists/{{ chore_list.id }}" class="secondary">📋&nbsp;{{ chore_list.name }}</a>
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/users/{{ user.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <ul>
        {% for activity in activities %}
            {% if !activity.is_deleted() %}
                <li>
                    <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}">
                        {{ activity.date.format("%Y-%m-%d") }}

                        {% for chore in chores %}
                            {% if chore.id == activity.chore_id %}
                                {{ chore.name }}&nbsp;({{ chore.points }}P)
                            {% endif %}
                        {% endfor %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <br>
    <br>

    <div>
        <h4>Deleted ✅&nbsp;Activities</h4>
        <ul>
            {% for activity in activities %}
                {% if activity.is_deleted() %}
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}">
                            {{ activity.date.format("%Y-%m-%d") }}

                            {% for chore in chores %}
                                {% if chore.id == activity.chore_id %}
                                    {{ chore.name }}&nbsp;({{ chore.points }}P)
                                {% endif %}
                            {% endfor %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
