{% extends "layout/default.jinja" %}

{% block icon %}✅{% endblock %}
{% block title %}Activities{% endblock %}

{% block teaser %}
    Of <a href="/chore-lists/{{ chore_list.id }}/users/{{ user.id }}" class="secondary">👤&nbsp;{{ user.name }}</a>
    in <a href="/chore-lists/{{ chore_list.id }}" class="secondary">📋&nbsp;{{ chore_list.name }}</a>
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}/users/{{ user.id }}" rel="parent" class="secondary">&larr; Back</a>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists/{{ chore_list.id }}/activities">
            <div class="icon">✅</div>
            <div class="label">Activities</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/chores">
            <div class="icon">🧹</div>
            <div class="label">Chores</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/users" aria-current="page">
            <div class="icon">👤</div>
            <div class="label">Users</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    {% for (date, activities_of_date) in activities_by_date %}
        <h6>{{ date.format("%Y-%m-%d") }}</h6>
        {% for activity in activities_of_date %}
            <ul>
                <li>
                    <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}">
                        {% for chore in chores %}
                            {% if chore.id == activity.chore_id %}
                                {{ chore.name }}&nbsp;({{ chore.points }}P)
                            {% endif %}
                        {% endfor %}
                    </a>
                </li>
            </ul>
        {% endfor %}
    {% endfor %}

    {% if ! deleted_activities.is_empty() %}
        <br>
        <br>

        <div>
            <h4>Deleted ✅&nbsp;Activities</h4>
            <ul>
                {% for activity in deleted_activities %}
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/activities/{{ activity.id }}">
                            {% for chore in chores %}
                                {% if chore.id == activity.chore_id %}
                                    <span style="display: inline-block; text-decoration: inherit;">
                                        {{ chore.name }}&nbsp;({{ chore.points }}P)
                                    </span>
                                {% endif %}
                            {% endfor %}

                            <span style="display: inline-block; text-decoration: inherit;">
                                at {{ activity.date.format("%Y-%m-%d") }}
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
