{% extends "layout/default.jinja" %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="post">
        <label for="handle">Handle</label>
        <input id="handle" name="handle" type="text" required autocomplete="username" />

        <label for="password">Password</label>
        <input id="password" name="password" type="password" required autocomplete="current-password" />

        <button type="submit">Login</button>
    </form>
{% endblock %}
