<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="color-scheme" content="light dark">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="robots" content="noindex, nofollow">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css"
            integrity="sha256-3V/VWRr9ge4h3MEXrYXAFNw/HxncLXt9EB6grMKSdMI=" crossorigin="anonymous">
        <style>
            td, th {
                padding: calc(var(--pico-spacing)/ 2);
            }
        </style>

        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="container">
            <div>
                {% block back_link %}&nbsp;{% endblock %}
            </div>

            <br>

            <hgroup>
                <h1>{% block title %}{% endblock %}</h1>
                <p>{% block teaser %}{% endblock %}</p>
            </hgroup>
        </header>

        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
