<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="container">
            <div>
                {% block back_link %}&nbsp;{% endblock %}
            </div>

            <br>

            <hgroup>
                <h1>{% block title %}{% endblock %}</h1>
                <p>{% block teaser %}{% endblock %}</p>
            </hgroup>
        </header>

        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
