<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}WG{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ crate::application::assets::get_url("/css/pico.css").unwrap() }}">
        <link rel="stylesheet" href="{{ crate::application::assets::get_url("/css/app.css").unwrap() }}">

        <link rel="icon" type="image/svg+xml" href="data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%2250%22 y=%2258%22 dominant-baseline=%22middle%22 text-anchor=%22middle%22 fill=%22black%22 style=%22font-size:89px;line-height:1;text-align:center;%22>{% block icon %}🏠{% endblock %}</text></svg>">
        <meta name="color-scheme" content="dark">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">

        <meta name="robots" content="noindex, nofollow">

        <link rel="manifest" href="{{ crate::application::assets::get_url("/manifest.json").unwrap() }}">
        <meta name="application-name" content="WG">
        <meta name="apple-mobile-web-app-title" content="WG">
        <meta name="theme-color" content="#13171F">
        <meta name="mobile-web-app-capable" content="yes">

        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container layout py-block">
            <div class="layout-left"></div>
            <header class="layout-center">
                <div>
                    {% block back_link %}&nbsp;{% endblock %}
                </div>

                <br>

                <hgroup>
                    <h1>{% block headline %}{% block icon %}{% endblock %} {% block title %}{% endblock %}{% endblock %}</h1>
                    <p style="margin-top: 0.25rem;">{% block teaser %}{% endblock %}</p>
                </hgroup>
            </header>
            <div class="layout-right"></div>
        </div>

        <div class="container layout py-block">
            <aside class="layout-left">
                {% block desktop_navigation %}
                    <nav class="side-nav desktop-only">
                        {% block navigation %}{% endblock %}
                    </nav>
                {% endblock %}
            </aside>
            <main class="layout-center">
                {% block content %}{% endblock %}
            </main>
            <div class="layout-right"></div>
        </div>

        <div class="container layout py-block">
            <div class="layout-left"></div>
            <footer class="layout-center">
                <div style="text-align: right;">
                    <a href="/legal/privacy-policy" rel="privacy-policy" class="secondary">Privacy Policy</a>
                </div>
            </footer>
            <div class="layout-right"></div>
        </div>

        {% block mobile_navigation %}
            <nav class="nav-bar mobile-only">
                {% block navigation %}{% endblock %}
            </nav>
            <div class="nav-bar-spacer mobile-only"></div>
        {% endblock %}
    </body>
</html>
