{% extends "layout/default.jinja" %}

{% block title %}Privacy Policy{% endblock %}

{% block back_link %}
    <a href="/" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <p>
        Data entered in this Web App can only be archived - it cannot be fully deleted by the user.<br>
        Any changes made by a user are logged and associated with that user account.<br>
        If you wish for your data to be removed, then please contact your admin.
    </p>

    <p>
        Access Logs (such as IP Addresses and User-Agents) may be collected for security and debugging purposes only.
    </p>
{% endblock %}
