{% extends "layout/default.jinja" %}

{% block icon %}📋{% endblock %}
{% block title %}Create Chore List{% endblock %}
{% block headline %}Create 📋&nbsp;Chore List{% endblock %}

{% block back_link %}
    <a href="/chore-lists" rel="parent" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required />

        <label for="description">
            Description
            <i style="opacity: 0.6;">(optional)</i>
        </label>
        <textarea id="description" name="description"></textarea>

        <label for="score_reset_interval">Score Reset Interval</label>
        <select id="score_reset_interval" name="score_reset_interval" aria-describedby="score_reset_interval-help-text" required>
            <option selected disabled hidden value=""></option>
            {% for score_reset_interval in score_reset_intervals %}
                <option value="{{ score_reset_interval }}">{{ score_reset_interval }}</option>
            {% endfor %}
        </select>
        <small id="score_reset_interval-help-text">Reset the score of all users in the specified interval</small>

        <button type="submit">Create</button>
    </form>
{% endblock %}
