{% extends "layout/default.jinja" %}

{% block title %}Create Chore List{% endblock %}

{% block back_link %}
    <a href="/chore-lists" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required />

        <button type="submit">Create</button>
    </form>
{% endblock %}
