{% extends "layout/default.jinja" %}

{% block title %}{{ chore_list.name }}{% endblock %}

{% block back_link %}
    <a href="/chore-lists" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    {% if chore_list.is_deleted() %}
        <div>
            <div>
                <em>This chore list has been deleted</em>
            </div>

            <br>

            <button type="submit" form="chore_list_restore" style="width: auto;">Restore</button>
            <form id="chore_list_restore" method="post" action="/chore-lists/{{ chore_list.id }}/restore"></form>
        </div>
    {% else %}
        <div>
            <a href="/chore-lists/{{ chore_list.id }}/update" role="button">Edit</a>
            <button type="submit" form="chore_list_delete" class="outline secondary" style="width: auto;">Delete</button>

            <form id="chore_list_delete" method="post" action="/chore-lists/{{ chore_list.id }}/delete"></form>
        </div>
    {% endif %}

    <br>

    <div>
        <h4>Chores</h4>
        <ul>
            {% for chore in chores %}
                {% if !chore.is_deleted() %}
                    <li>
                        <a href="/chores/{{ chore.id }}">{{ chore.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <a href="/chore-lists/{{ chore_list.id }}/create-chore" role="button">Create</a>
    </div>

    <br>
    <br>

    <div>
        <h4>Past Chores</h4>
        <ul>
            {% for chore in chores %}
                {% if chore.is_deleted() %}
                    <li>
                        <a href="/chores/{{ chore.id }}">{{ chore.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
