{% extends "layout/default.jinja" %}

{% block icon %}👤{% endblock %}
{% block title %}Users{% endblock %}

{% block teaser %}
    Of <a href="/chore-lists/{{ chore_list.id }}" class="secondary">📋&nbsp;{{ chore_list.name }}</a>
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <ol>
        {% for (user_id, score) in scores_by_user %}
            <li>
                {% for user in users %}
                    {% if user.id|as_ref == user_id %}
                        <a href="/users/{{ user.id }}">{{ user.name }}</a>
                    {% endif %}
                {% endfor %}
                (Score: {{ score }})
            </li>
        {% endfor %}
    </ol>

    <br>
    <br>

    <div>
        <h4>Past 👤&nbsp;Users</h4>
        <ul>
            {% for user in users %}
                {% if user.is_deleted() %}
                    <li>
                        <a href="/users/{{ user.id }}">{{ user.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
