{% extends "layout/default.jinja" %}

{% block icon %}📋{% endblock %}
{% block title %}Chore Lists{% endblock %}

{% block meta_actions %}
    <a href="/chore-lists/create" class="secondary text-decoration-none underline-on-hover">+ Add</a>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists" aria-current="page">
            <div class="icon">📋</div>
            <div class="label">Chore Lists</div>
        </a></li>
        <li><a href="/settings">
            <div class="icon">⚙️</div>
            <div class="label">Settings</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <ul class="card-container collapse">
        {% for chore_list in chore_lists %}
            <li>
                <a href="/chore-lists/{{ chore_list.id }}/activities" class="card">
                    <div class="title">{{ chore_list.name }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if ! deleted_chore_lists.is_empty() %}
        <br>

        <details>
            <summary class="arrow-left text-muted">Deleted Chore Lists</summary>
            <ul class="card-container collapse">
                {% for chore_list in deleted_chore_lists %}
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/activities" class="card">
                            <div class="title">{{ chore_list.name }}</div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </details>
    {% endif %}
{% endblock %}
