{% extends "layout/default.jinja" %}

{% block icon %}📋{% endblock %}
{% block title %}Chore Lists{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists" aria-current="page">
            <div class="icon">📋</div>
            <div class="label">Chore Lists</div>
        </a></li>
        <li><a href="/settings">
            <div class="icon">⚙️</div>
            <div class="label">Settings</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <div>
        <a href="/chore-lists/create" role="button">+ Create List</a>
    </div>

    <br>

    <ul>
        {% for chore_list in chore_lists %}
            <li>
                <a href="/chore-lists/{{ chore_list.id }}/activities">{{ chore_list.name }}</a>
            </li>
        {% endfor %}
    </ul>

    {% if ! deleted_chore_lists.is_empty() %}
        <br>
        <br>

        <div>
            <h4>Deleted 📋&nbsp;Chore Lists</h4>
            <ul>
                {% for chore_list in deleted_chore_lists %}
                    <li>
                        <a href="/chore-lists/{{ chore_list.id }}/activities">{{ chore_list.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
