{% extends "layout/default.jinja" %}

{% block title %}👤&nbsp;Users{% endblock %}

{% block teaser %}
    Of <a href="/chore-lists/{{ chore_list.id }}" class="secondary">📋&nbsp;{{ chore_list.name }}</a>
{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <div>
        <a href="/users/create" role="button">Add User</a>
    </div>

    <br>

    <ul>
        {% for user in users %}
            {% if !user.is_deleted() %}
                <li>
                    <a href="/users/{{ user.id }}">{{ user.name }}</a>
                    {% for (user_id, score) in scores_by_user %}
                        {% if user_id.clone() == user.id %}
                            (Score: {{ score }})
                        {% endif %}
                    {% endfor %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <br>
    <br>

    <div>
        <h4>Past 👤&nbsp;Users</h4>
        <ul>
            {% for user in users %}
                {% if user.is_deleted() %}
                    <li>
                        <a href="/users/{{ user.id }}">{{ user.name }}</a>
                        {% for (user_id, score) in scores_by_user %}
                            {% if user_id.clone() == user.id %}
                                (Score: {{ score }})
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
