{% extends "layout/default.jinja" %}

{% block icon %}⚙️{% endblock %}
{% block title %}Settings{% endblock %}

{% block teaser %}
    Of 📋&nbsp;{{ chore_list.name }}
{% endblock %}

{% block back_link %}
    <a href="/chore-lists" rel="parent" class="secondary text-decoration-none underline-on-hover">&larr; Back</a>
{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/chore-lists/{{ chore_list.id }}/activities">
            <div class="icon">✅</div>
            <div class="label">Activities</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/chores">
            <div class="icon">🧹</div>
            <div class="label">Chores</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/users">
            <div class="icon">👤</div>
            <div class="label">Users</div>
        </a></li>
        <li><a href="/chore-lists/{{ chore_list.id }}/settings" aria-current="page">
            <div class="icon">⚙️</div>
            <div class="label">Settings</div>
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <nav>
        <ul class="card-container collapse">
            {% if chore_list.is_deleted() %}
                <li>
                    <button type="submit" form="chore_list_restore" class="card text-align-left mb-0">
                        <div class="title">♻️&nbsp;Restore Chore List</div>
                    </button>
                    <form id="chore_list_restore" method="post" action="/chore-lists/{{ chore_list.id }}/restore"></form>
                </li>
            {% else %}
                <li>
                    <a href="/chore-lists/{{ chore_list.id }}/update" class="card">
                        <div class="title">✏️&nbsp;Edit Chore List</div>
                    </a>
                </li>
                <li>
                    <button type="submit" form="chore_list_delete" class="card text-align-left mb-0">
                        <div class="title text-danger">🗑️&nbsp;Delete Chore List</div>
                    </button>
                    <form id="chore_list_delete" method="post" action="/chore-lists/{{ chore_list.id }}/delete"></form>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
