{% extends "layout/default.jinja" %}

{% block title %}Update Chore List{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required value="{{ chore_list.name }}" />

        <button type="submit">Create</button>
    </form>
{% endblock %}
