{% extends "layout/default.jinja" %}

{% block title %}Update 📋&nbsp;Chore List{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required value="{{ chore_list.name }}" />

        <label for="description">
            Description
            <i style="opacity: 0.6;">(optional)</i>
        </label>
        <textarea id="description" name="description">{{ chore_list.description.clone().unwrap_or("".to_string()) }}</textarea>

        <button type="submit">Update</button>
    </form>
{% endblock %}
