{% extends "layout/default.jinja" %}

{% block icon %}📋{% endblock %}
{% block title %}Update Chore List{% endblock %}
{% block headline %}Update 📋&nbsp;Chore List{% endblock %}

{% block back_link %}
    <a href="/chore-lists/{{ chore_list.id }}" class="secondary">&larr; Back</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required value="{{ chore_list.name }}" />

        <label for="description">
            Description
            <i style="opacity: 0.6;">(optional)</i>
        </label>
        <textarea id="description" name="description">{{ chore_list.description.clone().unwrap_or("".to_string()) }}</textarea>

        <label for="score_reset_interval">Score Reset Interval</label>
        <select id="score_reset_interval" name="score_reset_interval" required>
            <option disabled hidden value=""></option>
            {% for score_reset_interval in score_reset_intervals %}
                <option value="{{ score_reset_interval }}" {% if score_reset_interval.clone() == chore_list.score_reset_interval %}selected{% endif %}>{{ score_reset_interval }}</option>
            {% endfor %}
        </select>

        <button type="submit">Update</button>
    </form>
{% endblock %}
